<!-- <Header /> -->
<div class='global-container-nonexistentpage'>
    <div class='spacer-div-1'></div>
    <div class='container-nonexistentpage'>
        <div class='nep-icon'>
            <img src={{brokenHeart}}/>
        </div>
        <div class='this-page-text-box'>
            <span class='this-page-text'>This Page Isn't Available</span><br>
            <span class='link-broken-text'>The link may be broken, or
                the page may have been removed. Check to see if link you're
                trying to open is correct or contact Pastebook.</span>
        </div>
        <div class='news-feed-buttonbox'>
            <a routerLink="/"><button class='news-feed-button'>Go to News Feed</button></a>
        </div>
    </div>
    <div class='spacer-div-2'></div>
</div>
